<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8f92ff">  <td>18/06/25 16:46:47</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;ASSIGNMENT2.End()[pri:0, instance:qaTest3.ASSIGNMENT2@5442a311]">&lt;&lt;End</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690287238</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>18/06/25 16:46:23</td>   <td>-24242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ASSIGNMENT2.WalletHubAssignment2()[pri:0, instance:qaTest3.ASSIGNMENT2@5442a311]">WalletHubAssignment2</td> 
  <td>main@1690287238</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>18/06/25 16:46:13</td>   <td>-34557</td> <td>&nbsp;</td><td title="&gt;&gt;ASSIGNMENT2.setup()[pri:0, instance:qaTest3.ASSIGNMENT2@5442a311]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690287238</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>18/06/25 16:46:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ASSIGNMENT2.takeScreenShotOnFailure(org.testng.ITestResult)[pri:0, instance:qaTest3.ASSIGNMENT2@5442a311]">&lt;&lt;takeScreenShotOnFailure</td> 
<td>&nbsp;</td>  <td>main@1690287238</td>   <td></td> </tr>
</table>
