<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97b678">  <td>18/06/22 19:33:56</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;ASSIGNMENT1.End()[pri:0, instance:qaTest2.ASSIGNMENT1@146ba0ac]">&lt;&lt;End</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1847509784</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>18/06/22 19:33:49</td>   <td>-7197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ASSIGNMENT1.main()[pri:0, instance:qaTest2.ASSIGNMENT1@146ba0ac]">main</td> 
  <td>main@1847509784</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>18/06/22 19:33:40</td>   <td>-15855</td> <td>&nbsp;</td><td title="&gt;&gt;ASSIGNMENT1.setup()[pri:0, instance:qaTest2.ASSIGNMENT1@146ba0ac]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1847509784</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>18/06/22 19:33:55</td>   <td>-1002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ASSIGNMENT1.takeScreenShotOnFailure(org.testng.ITestResult)[pri:0, instance:qaTest2.ASSIGNMENT1@146ba0ac]">&lt;&lt;takeScreenShotOnFailure</td> 
<td>&nbsp;</td>  <td>main@1847509784</td>   <td></td> </tr>
</table>
